:root{
    --main-bg-color: #f4f4f4;
    --main-text-color: #333;
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-border-color: #ccc;
    --main-border-radius: 5px;
    --main-box-shadow: 0 2px 5px #0000001a;
    --main-transition: 0.3s;
}
:root.dark{
    --main-bg-color: #333;
    --main-text-color: #f4f4f4;
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-border-color: #555;
    --main-box-shadow: 0 2px 5px #00000080;
}
html{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-align: initial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 1s ease;
    text-decoration: none;
}
body{
    z-index: -99;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #bdd2af, #fdfffd);
    background-size: cover;
    background-position: center;
    color: var(--main-text-color);
    transition: background-color var(--main-transition);
    overflow-x: hidden;
    min-height: 100dvh;
    min-width: 100dvw;
}
.loader_container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    z-index: 5;
    background-color: #121212d3;
    color: #fdd;
}
.loader_image{
    animation: fadeIn 2s linear infinite;
    -webkit-animation: fadeIn 2s linear infinite;
    -moz-animation: fadeIn 2s linear infinite;
    -o-animation: fadeIn 2s linear infinite;
    -ms-animation: fadeIn 2s linear infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.loader_image > img{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    max-width: 600px;
}
@keyframes fadeIn{
    0%{
        flood-opacity: 0%;
        opacity: 0;
    }
    100%{
        opacity: 1;
        flood-opacity: 100%;
    }
    150%{
        opacity: 0;
        flood-opacity: 0%;
    }
    200%{
        opacity: 1;
        flood-opacity: 100%;
    }
}
.logo_image{
    max-width: 150px;
    filter: drop-shadow(1px 1px 3px #fdd);
    -webkit-filter: drop-shadow(1px 1px 3px #fdd);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #f8f9fa84;
    color: #322f22;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: background-color var(--main-transition);
    -webkit-transition: background-color var(--main-transition);
    -moz-transition: background-color var(--main-transition);
    -ms-transition: background-color var(--main-transition);
    -o-transition: background-color var(--main-transition);
    margin: 1%;
    width: 98%;
    z-index: 2;
}
.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 120px;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.navbar .navbar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar_item{
    margin: 0 10px;
}
.navbar_item a{
    color: #322f22;
    font-size: 1.2rem;
    transition: color var(--main-transition);
    -webkit-transition: color var(--main-transition);
    -moz-transition: color var(--main-transition);
    -ms-transition: color var(--main-transition);
    -o-transition: color var(--main-transition);
    font-weight: 600;
}
.hov:hover{
    color: #007bff;
    filter: drop-shadow(1px 1px 3px #ffd);
    transition: filter .3s ease-in;
    -webkit-transition: filter .3s ease-in;
    -moz-transition: filter .3s ease-in;
    -ms-transition: filter .3s ease-in;
    -o-transition: filter .3s ease-in;
    -webkit-filter: drop-shadow(1px 1px 3px #ffd);
}
.hamburger-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-toggle i{
    display: none;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #87CEEB;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000033;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 1s ease;
    margin: 0 auto;
}

.toggle-switch .switch {
    position: absolute;
    top: 50%;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: left 1s cubic-bezier(0.68, -0.55, 0.17, 1.55);
}

.toggle-switch.day .switch {
    left: 3px;
}

.toggle-switch.night .switch {
    left: 33px;
    background-color: black;
}

.toggle-switch.day {
    background-color: #87CEEB; 
}

.toggle-switch.night {
    background-color: #2C3E50; 
}

.sun {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    color: yellow;
    opacity: 1;
    transition: opacity 1s ease;
}

.cloud {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 9px;
    color: white;
    opacity: 1;
    transition: opacity 1s ease;
}

.moon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    color: lightgray;
    opacity: 0;
    transition: opacity 1s ease;
}

.stars {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 9px;
    color: white;
    opacity: 0;
    transition: opacity 1s ease;
}

.toggle-switch.night .sun,
.toggle-switch.night .cloud {
    opacity: 0;
}

.toggle-switch.night .moon,
.toggle-switch.night .stars {
    opacity: 1;
}

.get_in_touch{
    position: fixed;
    bottom: 5dvh;
    right: 2vw;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.social_side_container{
    background-color: #223233;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: background-color var(--main-transition);
    -webkit-transition: background-color var(--main-transition);
    -moz-transition: background-color var(--main-transition);
    -ms-transition: background-color var(--main-transition);
    -o-transition: background-color var(--main-transition);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}
.contact_side_container{
    background-color: #223233;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: background-color var(--main-transition);
    -webkit-transition: background-color var(--main-transition);
    -moz-transition: background-color var(--main-transition);
    -ms-transition: background-color var(--main-transition);
    -o-transition: background-color var(--main-transition);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}
.social_side_container i,
.contact_side_container i{
    font-size: 2rem;
    color: #fdffdf;
}

.social_links{
    position: fixed;
    right: 10dvw;
    bottom: 25dvh;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 20dvh;
    max-height: 30dvh;
    min-width: 10dvw;
    max-width: 20dvw;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #104d46;
    box-shadow: 0 4px 30px #0000001a;
    background-position: center;
    background-size: contain;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}
.social_links_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    list-style: none;
    margin: 15px 5px 15px 15px;
}
.social_links_item a{
    color: #fdf8f7;
    font-size: 2rem;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    text-shadow:  #FC0 1px 0 10px;;
}
.sli1 a:hover, .sli3 a:hover, .sli8 a:hover, .sli12 a:hover, .sli15 a:hover {
    color: #0051ff;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.sli6 a:hover, .sli9 a:hover, .sli10 a:hover, .sli18 a:hover{
    color: #d9301a;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.sli5 a:hover, .sli11 a:hover, .sli17 a:hover, .sli19 a:hover, .sli13 a:hover, .sli4 a:hover{
    color: #262f42;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.sli2 a:hover, .sli20 a:hover, .sli7 a:hover{
    color: #8226e4;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.sli16 a:hover, .sli21 a:hover{
    color: #fff700;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.sli14 a:hover{
    color: #2db829;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
.contact_me_links{
    position: fixed;
    right: 10dvw;
    bottom: 5dvh;
    min-height: 16dvh;
    max-height: 20dvh;
    min-width: 8dvw;
    max-width: 10dvw;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #104d46;
    box-shadow: 0 4px 30px #0000001a;
    background-position: center;
    background-size: contain;

}
.contact_me_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    list-style: none;

}
.list_contact a{
    color: #fdf8f7;
    font-size: 2rem;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    text-shadow:  #FC0 1px 0 10px;;
}
#messenger:hover, #email:hover{
    color: #0051ff;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
#whatsapp:hover, #phone:hover{
    color: #26ce3f;
    transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
}
#home{
    background: linear-gradient(to left, #d3d3d31a, #b1b1b133), url('/assets/hero_bg.jpg') no-repeat top center/contain;
    position: relative;
    top: 0;
    background-attachment: fixed;
    min-height: 80dvh;
    min-width: 100dvw;
}
.hero_text_container{
    position: relative;
    top: 30dvh;
    left: 8dvw;
    width: 83dvw;
    height: 70dvh;
    display: flex;
    justify-content: space-between;
}
.hero_article_header{
    font-size: 3.5rem;
    font-weight: 700;
    color: #fdffdf;
    text-shadow: 5px 1px 5px #16bbc783;
    font-family: Play;
    display: flex;
    align-items: center;
    justify-self: start;
}
.hero_article_header1{
    font-size: 4.5rem;
    font-weight: 700;
    color: #fdffdf;
    text-shadow: 5px 1px 5px #16bbc783;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(12) forwards 0.5s;
    -webkit-animation: typing 1.5s steps(12) forwards 0.5s;
    width: 0;
    font-family: Play;
}
.typing{
    color: #ffd;
    text-shadow: none;
    animation: blink .7s infinite;
    -webkit-animation: blink .7s infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    from {color: transparent;}
    to {color: #ffd}
}
.hero_article_paragraph{
    font-size: 1rem;
    font-weight: 600;
    color: #ddf;
    line-height: 2;
}
.cta_btn{
    position: relative;
    top: 5dvh;
    max-width: 18dvw;
    min-height: 5dvh;
    max-height: 8dvh;
    display: flex;
    justify-content: space-around;
}
#resume_btn_cta{
    padding: 12px 10px;
    font-size: 1rem;
    color: #10211f;
    background-color: #ddffdd;
    font-weight: 600;
    font-family: Play;
    border: 1px solid transparent;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    transition: color 0.7s linear forwards;
    -webkit-transition: color 0.7s linear forwards;
    -moz-transition: color 0.7s linear forwards;
    -ms-transition: color 0.7s linear forwards;
    -o-transition: color 0.7s linear forwards;
}
#resume_btn_cta:hover{
    background-color: transparent;
    border: 1px solid #ddffdd;
    color: #ddffdd;
    box-shadow: 2px 2px 4px #ddffdd;
    text-shadow: 1px 1px 5px #fddfdd;
    transition: color 0.7s linear forwards;
    -webkit-transition: color 0.7s linear forwards;
    -moz-transition: color 0.7s linear forwards;
    -ms-transition: color 0.7s linear forwards;
    -o-transition: color 0.7s linear forwards;
}
#contact_btn_cta{
    padding: 12px 10px;
    font-size: 1rem;
    color: #ddffdd;
    background-color: transparent;
    font-weight: 600;
    font-family: Play;
    border: 1px solid #ddffdd;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    cursor: pointer;
    box-shadow: 0px 1px 4px #ddffdd;
    text-shadow: 1px 1px 5px #fddfdd;
    transition: color 0.7s linear forwards;
    -webkit-transition: color 0.7s linear forwards;
    -moz-transition: color 0.7s linear forwards;
    -ms-transition: color 0.7s linear forwards;
    -o-transition: color 0.7s linear forwards;
}
#contact_btn_cta:hover{
    background-color: #ddffdd;
    border: 1px solid transparent;
    color: #10211f;
    box-shadow: 2px 2px 4px #10211f;
    transition: color 0.7s linear forwards;
    -webkit-transition: color 0.7s linear forwards;
    -moz-transition: color 0.7s linear forwards;
    -ms-transition: color 0.7s linear forwards;
    -o-transition: color 0.7s linear forwards;
}



.toast_for_resume{
    min-height: 35px;
    max-height: 50px;
    min-width: 30dvw;
    max-width: 40dvw;
    background-color: #ffddd1;
    position: absolute;
    top: 5dvh;
    z-index: 999;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}












.copyright{
    position: fixed;
    bottom: 2dvh;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    opacity: 0.7;
}